/* Reset default browser styles */
html, body {
    margin: 0;
    padding: 0;
}


/* josefin-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: url('josefin-sans-v32-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.navbar {
    background-color: #090909;
    position: fixed; 
    top: 0;
    width: 100%; 
    height: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding: 10px;
}

.menuOp {
    margin: 10px;
    flex-grow: 1
}

.menuText {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;
    color: white;
}

.spacer {
    flex-grow: 1;
}

#leftMenu {
    display: flex;
    flex-direction: row;
}

#contactBtn {
    flex-grow: 14;
    text-align: right;
    padding: 20px;
}

/* Global styles */
body {
    font-family: Tahoma, sans-serif;
    background-color: #222222; /* Change this to your desired background color */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5ee9e; /* Change this to your desired container background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow to the container */
    border-radius: 10px; /* Adjust the value to control the roundness of the corners */
}

h1, h2 {
    margin-bottom: 10px;
    color: #333; /* Change this to your desired heading color */
}

p {
    margin-bottom: 20px;
    color: #666; /* Change this to your desired paragraph color */
}

a {
    color: #007bff; /* Change this to your desired link color */
}

/* Profile picture style */
.profile-pic {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 20px auto;
    float: right;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}
