/* Reset default browser styles */
html, body {
    margin: 0;
    padding: 0;
}


/* josefin-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: url('josefin-sans-v32-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.navbar {
    background-color: #090909;
    position: fixed; 
    top: 0;
    width: 100%; 
    height: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding: 10px;
}

.menuOp {
    margin: 10px;
    flex-grow: 1
}

.menuText {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;
    color: white;
}

.spacer {
    flex-grow: 1;
}

#leftMenu {
    display: flex;
    flex-direction: row;
}

#contactBtn {
    flex-grow: 14;
    text-align: right;
    padding: 20px;
}

#banner-img {
    position: relative;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 0 55%;
}

@media (max-width: 650px) {
    #banner-img {
        position: relative;
        width: 100%;
        height: 350px;
        object-position: center;
    }
}

/* Global styles */
body {
    font-family: Tahoma, sans-serif;
    background-color: #222222; /* Change this to your desired background color */
}

.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

#info-card {
    min-width: 250px;
    padding: 1px 15px;
    background-color: #f98877; /* Change this to your desired container background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow to the container */
    border-radius: 10px; /* Adjust the value to control the roundness of the corners */
    margin-right: 20px;
}


.fancy {
    margin-top: -20px;
    color: #6c30d9;
    font-size: 50px;
}

h1, h2 {
    margin-bottom: 10px;
    color: #fdd9e5; /* Change this to your desired heading color */
}

p {
    margin-bottom: 20px;
    color: #fdd9e5; /* Change this to your desired paragraph color */
}

a {
    color: #007bff; /* Change this to your desired link color */
}

#pic-box {
    display: flex;
    justify-content: center;
    width: 70%
}

/* Profile picture style */
.profile-pic {
    min-width: 350px;
    height: auto;
    margin: 20px auto;
}

/* Media query for responsiveness */
@media (max-width: 737px) {
    .profile-pic {
        max-width: 350px;
        width: 50%
        height: auto;
        margin: 20px auto;
    }
}

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
        justify-content: space-between;
    }
    #info-card {
        margin-right: 0;
    }
}
